<!DOCTYPE html>
<html lang="en">
    {% include "_head.html" %}

    {% if session.authenticated %}
        <body class="g-sidenav-show  bg-gray-100">
            {% include "_navbar.html" %}
            <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
                <!-- Navbar -->
                {% include "_topnav.html" %}
                <!-- End Navbar -->
                <div class="container-fluid py-4">
                    {% block main %} {% endblock %}
                    {% include "_footer.html" %}
                </div>
            </main>
            {% include "_dummy_modal.html" %}
            <!--   Core JS Files   -->
            {% include "_corejs.html" %}
        </body>
        {% else %}
        {% include "_login.html" %}
    {% endif %}
</html>
